.letter {
    background: #BB2339;
    color: white;
    border-radius: 25px;
transform: translateY(50%);
z-index: 10;
    box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
}
.letter__title {
    font-size: 23px;
    
}
.letter__subtitle{
    font-size: 3rem;
}
.letter__input {
    outline: none;
    color: white;
    border: 1px solid white;
    padding: 5px 20px;
    background: transparent;
    font-size: 1.1rem;
    min-width:350px;
    margin-right: 20px;
    border-radius: 15px;
}
.letter__input::placeholder{
    color: white;
}

.letter__btn {
    padding: 7px 20px;
    border-radius: 15px;
    background: transparent;
    color: white;
    border: 1px solid white;
}