

.header{
    background: #BB2339;
    padding: 20px 0 90px 0;
    color: white;
    
}
.active__header {
    background-color: black;
}
.nav{
    margin-bottom: 50px;
}
.header__list {
    list-style: none;
    align-items: center;
    
}
.header__item {
    display: block;
    padding: 10px 15px;
    margin: 0 10px;
}
.header__item:last-child{
    padding-right: 0;
   
    margin-right: 0;
}
.header__item i {
    width: 30px;
    font-size: 2rem;
}
.header_btn {
    padding: 7px 20px;
}
.hero {
    color: #ffff;
}
.hero__img {
    width: 500px;
    height: 450px;
    border-radius: 50%;
}
.aside__left{
    width: 50%;
}
.hero__title {
    font-size: 6rem;
}
.hero__text {
    line-height: 1.75;
    margin-bottom: 48px;
}
.hero__btn {
    padding: 7px 30px ;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    background: transparent;
}
