.footer {
    padding: 230px 0 20px 0;
    background: #bb2339;
    color: white;
}

.footer__list {
    list-style: none;
}
.footer__logo {
    width: 270px;
    padding-bottom: 30px;
}
.footer__text {
    display: inline-block;
    transform: translateX(70px);

}
.footer__link   {
    transform: translateX(50%);
}
