ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.App {
  text-align: center;
}
.nav {
  background-color: #666;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 15px 25px rgba(0,0,0,0.25);
  z-index: 10;
}
.nav .container, .footer .container {
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}
.nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 10px;
}
.card__wrapper {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.card {
  max-width: 350px;
  margin-bottom: 40px;
}
.card img {
  width: 100%;
  object-fit: cover;
}
.single__card {
  width: 40%;
  margin: 100px auto;
}
.single__card img {
  width: 100%;

  object-fit: cover;
}
.back__btn {
  display: inline-block;
}
/* Error page */
.error__wrapper {
  margin:100px auto;
  min-height: 100vh;
  text-align: center;
}
.error_wrapper h1 {
  font-size: 4rem;
  color: red;
}


/* footer */
.footer {
  background-color: #666;
  padding: 10px 0;
  width: 100%;
}
.footer label {
height: 20px;
}
.footer ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
}
.footer ul a {
  font-size: 2rem;
  padding: 0;
  display: inline-block;
  z-index: 25;
}