
.dish {
    background: #f8f8f8;
}

.dish__title {
    font-size: 3rem;
    font-weight: 500;
    color: #BB2339;
}
.dish__img {
    width: 150px;
    height: 100px;
    margin: auto;
}
.dish__price{
    font-size: 2rem;
}
.menu__btn {
    display: block;
    padding: 5px 17px;
    font-weight: 600;
    border: 2px solid red;
    background: transparent;
    border-radius: 25px;
    transition: all 0.5s ease;
}
.menu__btn:hover{
    background: red;
    color: white;
    transition: all 0.5s ease;
}
.menu__card-wrapper {
    row-gap: 20px;
}
.arrows {
    margin: 20px;
    padding: 10px 20px;
}
.arrows span {
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.arrow__left{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
}
.arrow__right{
    transform: rotate(225deg);
}